<p>ngcontent works!</p>
<div class="row">
    <div class="col-md-3">
        <app-cardcontent>
            <h5 class="card-title">Html. I am using ng-content to rendered. .lets learn it</h5>
            <a href="#" class="btn btn-primary">Dynamic button using ng contetn</a>
        </app-cardcontent>
    </div>
    <div class="col-md-3">
        <app-cardcontent>
            <h5 class="card-title">bootstrap. I am using ng-content to rendered. .lets learn it</h5>
            <a href="#" class="btn btn-primary">bootsrap button using ng contetn</a>
        </app-cardcontent>
    </div>
    <div class="col-md-3">
        <app-cardcontent>
            <h5 class="card-title">angular. I am using ng-content to rendered. .lets learn it</h5>
            <a href="#" class="btn btn-primary">css button using ng contetn</a>
        </app-cardcontent>
    </div>
    <div class="col-md-3">
        <app-cardcontent>
            <h5 class="card-title">css. I am using ng-content to rendered. .lets learn it</h5>
            <a href="#" class="btn btn-primary">Angular button using ng contetn</a>
        </app-cardcontent>
    </div>
</div>