<h1>ngfor -data from json file.</h1>  

<div class="container">
  <div class="row">
    <div class="col-md-10">
     
      <table class="table">
         <thead class="thead-dark">
          <tr>
          <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Id</th>
            <th>Product Price</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of product">
          <td><img src="{{pro.proimg}}" width="70"></td>
            <td>{{pro.name}}</td>
            <td>{{pro.id}}</td>
            <td>{{pro.price}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>