
<!-- Commenting Out app-component as in this git we will learn databind -->
<!-- <app-myContainer></app-myContainer> -->

<!-- We would comment out databind as we would be learning class-style -->
<!-- <app-databind></app-databind> -->

<!-- we would comment out as we would be learning Event Binding -->
<!-- <app-classstyle></app-classstyle> -->

<!-- We would comment it out and we will learn next on template reference variable -->
<!-- <app-eventbinding></app-eventbinding> -->


<app-templatevariablelearning></app-templatevariablelearning>