<!-- <header>
  <nav class="nav nav-tabs">
    <ul>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="learning">Learning</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="ngfor">ngFor</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="pushandslice">Push/sliceng</a></li>
    </ul>
  </nav>
</header> -->

<h1>Lets Learn Routing</h1>